/* Custom styles for yet-another-react-lightbox */

/* Thumbnails background - adapt to theme */
.yarl__thumbnails {
  background-color: rgb(255, 255, 255) !important;
}

:root.dark .yarl__thumbnails {
  background-color: rgb(0, 0, 0) !important;
}

/* Thumbnail container background */
.yarl__thumbnails_container {
  background-color: rgb(255, 255, 255) !important;
}

:root.dark .yarl__thumbnails_container {
  background-color: rgb(0, 0, 0) !important;
}

/* Individual thumbnail background - white/black solid */
.yarl__thumbnail {
  background-color: rgb(255, 255, 255) !important;
}

:root.dark .yarl__thumbnail {
  background-color: rgb(0, 0, 0) !important;
}

/* Active thumbnail border color */
.yarl__thumbnail_active {
  border-color: rgb(0, 0, 0) !important;
}

:root.dark .yarl__thumbnail_active {
  border-color: rgb(255, 255, 255) !important;
}

/* Remove any gradient backgrounds */
.yarl__slide,
.yarl__container {
  background: none !important;
}

